@import './../../styles/variables';
@import './../../styles/mixins/_card';

.login-container {
    form {
        @include card();
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        margin: 2rem auto 0 auto;
        max-width: 550px;
        width: 90%;
        h3 {
            margin-bottom: 2rem;
        }
        .MuiFormControl-root {
            width: 100%;
        }
        button {
            margin-top: 2rem;
        }
    }
}
