@import './../../../styles/mixins/_card';
@import './../../../styles/mixins/_box-shadow';
@import './../../../styles/_variables';

.card-item {
    @include card();
    @include box-shadow(0, 7px, 12px, #0d0d0d70);
    background-color: #141414;
    border: 2px solid transparent;
    transition: 200ms ease all;
    &:hover,
    &.selected {
        @include box-shadow(0, 5px, 10px, #1d1d1d);
        border-color: $primary;
        transform: translateY(-2px);
        cursor: pointer;
    }
    &.selected {
        .estimate-wrapper > .col > p.percentaje > span {
            opacity: 1;
        }
    }
    .card-item-title {
        font-size: 1.2rem;
        text-transform: capitalize;
    }
}
