@import './../../styles/mixins/_card';
@import './../../styles/mixins/_box-shadow';
@import './../../styles/_variables';

.simulator-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem 0;
    padding: 0 0 2rem;
    margin: 0 auto 2rem;
    max-width: $max-width;

    .section {
        @include card();
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 55px auto auto;
        gap: 0 3rem;
        padding-bottom: 3rem;
        .section-title {
            grid-column: 1 / 4;
            p {
                text-transform: capitalize;
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }
}

.wrong-container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-weight: normal;
        font-size: 3rem;
    }
    img {
        width: 50%;
        max-width: 450px;
    }
}
