@import './../../styles/_variables';
@import './../../styles/mixins/__box-shadow.scss';

.SubBar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba($background-normal, 0.15);
    // @include box-shadow(0px, 3px, 8px, rgba(0, 0, 0, 0.15));
    .wrapper {
        margin: 1rem 0;
        width: 100%;
        max-width: 1440px;
        font-size: 1rem;
    }
}
