$text-color: #e6ebe7;

$primary: #e7ff15;
// $secondary: #053f5e;
// $tertiary: #115173;
// $fourth: #e7ff15;
$accent: #b5cd03;

$background-dark: #0a0a0a;
$background-normal: #2e2e2e;
$background-light: #3c3c3c;
$text-color-dark: #4f4f4f;

$black900: #161613;

$max-width: 1440px;
