@import './_variables.scss';

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./../../public/fonts/Inter/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./../../public/fonts/Inter/Inter-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./../../public/fonts/Inter/Inter-Light.ttf') format('truetype');
}

html {
    height: 100%;
}
body,
* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    // color: $text-color;
    box-sizing: border-box;
}
body {
    min-height: 95vh;
    min-width: 100%;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: $text-color;
}
