@import './../../../styles/mixins/_box-shadow';
@import './../../../styles/variables';

.ChartPortfolio-container {
    grid-column: 1/3;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .balance {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 2rem;
        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .amount {
            font-size: 1.6rem;
            margin-bottom: 0.2rem;
            font-weight: 600;
            color: rgba($primary, 0.85);
            &.large {
                color: $primary;
                letter-spacing: 2px;
                font-size: 2.5rem;
                line-height: 3rem;
            }
        }
        .label {
            color: $text-color-dark;
        }
    }

    .chart {
        min-height: 200px;
        width: 100%;
        border-radius: 10px;
        // border: 1px solid #0e0e0e;
    }

    .little-form {
        min-height: 120px;
        width: 100%;
        padding-left: 30px;
        display: flex;
        align-items: center;

        .row {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            // align-items: center;
            justify-content: space-between;
        }
        .slider-container {
            flex: 1;
            margin-right: 8rem;
        }

        .little-form-label {
            margin-bottom: 1rem;
        }
        .slider-capital {
            // max-width: 300px;
        }
        .select-timeline {
            flex: 1;
            align-self: flex-start;
            width: auto;
            min-width: 150px;
            min-height: 35px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            // padding: 0em 1em;
            span {
                min-width: 60px;
                text-align: center;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                border: 1px solid transparent;
                text-transform: uppercase;
                cursor: pointer;
                &.selected {
                    border-color: $primary;
                    transform: translateY(-1px);
                    @include box-shadow(0px, 5px, 12px, rgba($primary, 0.15));
                    color: $primary;
                }
            }
        }
    }
}
