@import './../../styles/_variables';

.NavBar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    .wrapper {
        margin: 1.2rem 0;
        width: 100%;
        max-width: 1440px;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        * {
            color: inherit;
        }
        p {
            font-weight: bold;
            letter-spacing: 1px;
        }
        span {
            font-size: 1rem;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
