.Questions {
    .Questions__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        h3 {
            font-weight: lighter;
        }
    }

    .Questions__footer {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
}
