.helperText {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: -0.5rem;

    svg {
        align-self: flex-start;
        margin-right: 3px;
        font-size: 18px;
    }
}
