@import './../../../styles/variables';

.Question__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Question__label {
        font-weight: lighter;
        margin-bottom: 4rem;
        font-size: 1.7rem;
    }

    .Question__options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .option {
            width: 100%;
            max-width: 300px;
            padding: 1rem 1.2rem;
            border-radius: 9px;
            background: $background-dark;
            color: $primary;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: translate 200ms ease;
            transition: background-color 300ms ease;
            font-weight: normal;

            &.selected,
            &:active {
                transform: translateY(-3px);
                background-color: $primary;
                color: $black900;
                &:hover {
                    transform: translateY(-3px);
                }
            }
            &:hover {
                transform: translateY(-1px);
            }
        }
    }
}
