@import './../_variables';

@mixin card() {
    // box-shadow: 0 8px 14px rgba($color: $accent, $alpha: 0.2);
    padding: 1.5em 1em;
    border-radius: 6px;
    background-color: $background-dark;
}
