@import './../../../styles/mixins/_card';
@import './../../../styles/mixins/_box-shadow';
@import './../../../styles/_variables';

.SelectPortfolio-container {
    @include card();
    width: 100%;
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem 1rem;
        margin-top: 1rem;
    }
}
